/*Brand Fonts*/
@font-face {
  font-family: 'magallanescondblack';
  src: url('/fonts/magallanescondblack-webfont.woff2') format('woff2'),
    url('/fonts/magallanescondblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'magallanescondbold';
  src: url('/fonts/magallanescondbold-webfont.woff2') format('woff2'),
    url('/fonts/magallanescondbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Magallanes';
  src: url('/fonts/magallanescondregular.woff2') format('woff2'),
    url('/fonts/magallanescondregular.woff') format('woff');
}

@font-face {
  font-family: 'magallanescondregular-italic';
  src: url('/fonts/magallanescondregular-italic-webfont.woff2') format('woff2'),
    url('/fonts/magallanescondregular-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*Global Font Styles*/
:root {
  --font-size-h1: calc(50rem / 16);
  --line-height-h1: calc(var(--font-size-h1) + 0.625rem);
  --font-size-h2: calc(36rem / 16);
  --line-height-h2: calc(var(--font-size-h2) + 0.625rem);
  --font-size-h3: calc(27rem / 16);
  --line-height-h3: calc((27rem / 16) + 0.625rem);
  --font-size-h4: calc(24rem / 16);
  --line-height-h4: calc((24rem / 16) + 0.625rem);
  --font-size-h5: calc(21rem / 16);
  --line-height-h5: calc((21rem / 16) + 0.625rem);
  --font-size-hero-p: calc(18rem / 16);
  --line-height-hero-p: calc((18rem / 16) + 0.625rem);
  --bold: 'magallanescondbold', sans-serif;
  --italic: 'magallanescondregular-italic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0.5em;
}

h1 {
  font-size: var(--font-size-h1);
  font-family: 'magallanescondblack', sans-serif;
  line-height: var(--line-height-h1);
  font-weight: normal;
}

h2 {
  font-size: var(--font-size-h2);
  font-family: 'magallanescondblack', sans-serif;
  line-height: var(--line-height-h2);
  font-weight: normal;
}

h3 {
  font-family: 'magallanescondbold', sans-serif;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: normal;
}

h4 {
  font-family: 'magallanescondbold', sans-serif;
  font-weight: normal;
  line-height: var(--line-height-h4);
  font-size: var(--font-size-h4);
}

p.hero {
  font-size: var(--font-size-hero-p);
  line-height: var(--line-height-hero-p);
}

p {
  font-size: 1rem;
  line-height: 1.35rem;
}

@media (max-width: 640px) {
  :root {
    --font-size-h1: calc(26rem / 16);
    --font-size-h2: calc(23rem / 16);
  }

  h1 {
    font-size: var(--font-size-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
  }
}

