@font-face {
  font-family: 'magallanescondblack';
  src: url('/fonts/magallanescondblack-webfont.woff2') format('woff2'),
       url('/fonts/magallanescondblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'magallanescondbold';
  src: url('/fonts/magallanescondbold-webfont.woff2') format('woff2'),
       url('/fonts/magallanescondbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Magallanes';
  src:  url('/fonts/magallanescondregular.woff2') format('woff2'),
        url('/fonts/magallanescondregular.woff') format('woff');
}

@font-face {
  font-family: 'magallanescondregular-italic';
  src: url('/fonts/magallanescondregular-italic-webfont.woff2') format('woff2'),
       url('/fonts/magallanescondregular-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
