---
import { BlockDiptych } from "@rkn/page-components";

const { blocks } = Astro.props;
---

{
  blocks.map((componentData) => {
    switch (componentData.__component) {
      case "design-blocks.content-square-row":
        return <div>Square Row</div>;
        break;
      case "design-blocks.diptych":
        return <BlockDiptych {...componentData} />;
        break;
      default:
        return (
          <div>
            Unknown component <pre>{componentData.__component}</pre>
          </div>
        );
    }
  })
}
