---
import './css/normalize.css'
import './css/global.css'
import '@rkn/base-components/css/typography.css'
import { fetchPageData, site } from '../page-components/util'
const { title } = Astro.props
import NavigationBar from './NavigationBar.astro'
import Footer from './Footer.astro'
const siteData = await fetchPageData('/api/websites', {
  filters: {
    key: {
      $eq: site(),
    },
  },
})
const primaryColor = `var(--${siteData.data[0].attributes.primaryColour})`
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavigationBar />
    <main>
      <slot>
        <h2>Hello!</h2>
        <p>Here is some placeholder content :)</p>
      </slot>
    </main>
    <Footer />
  </body>
</html>
<style define:vars={{ 'primary-color': primaryColor }}>
  :root {
  }
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }
</style>
