---
import GridItem from './GridItem.astro';
import "@rkn/base-components/css/layouts.css";
export interface Props {
  heading: string;
  subtitle: string;
  class: string;
};

const { heading, subtitle, class: className } = Astro.props;
---
<hgroup>
  <h1>{heading}</h1>
  <p>{subtitle}</p>
</hgroup>

<div class=`grid ${className}`>
  <slot />
</div>

<style>
h1 {
  color: #bbb;
  margin: 0;
}

hgroup {
  text-align: center;
  margin-top: 2.5em;
}

hgroup p {
  color: #999;
  font-weight: 600;
  font-style: italic;
  margin: 0.1em 0 2em 0;
}

</style>
