---
import { BaseLayout } from '@rkn/base-components'
import { Header, fetchPageData, markedHelper, site } from '@rkn/page-components'

const data = await fetchPageData('/api/pages', {
  filters: {
    slug: {
      $eq: 'events',
    },
    websites: {
      key: {
        $eq: site(),
      },
    },
  },
  populate: ['header.header_image', 'blocks.event', 'blocks.event.featureImage'],
})

const pageData = data.data[0].attributes
const blocks = pageData.blocks
const header = pageData.header

---

<BaseLayout title="events">
  <div class="outer">
    <Header {...header} subtitle={pageData.subtitle} />
    {
      blocks.map((block) => {
        let event = block.event.data.attributes
        console.log(event.featureImage)
        return (
        <h2>{event.title}</h2>
        <h3>{event.date}</h3>
        <h3>{event.venue ?? "Venue TBC"}</h3>
        <p>{event.summary}</p>
        <p>Cost: {event.cost ?? "free"}</p>
        )
      })
    }
  </div>
</BaseLayout>
<style>
  div.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    flex-grow: 0;
    text-wrap: wrap;
  }
  div.flex-row {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  section {
    max-width: 700px;
    padding-bottom: 1rem;
  }
  div.event-type {
    width: 100vw;
    padding: 0 2rem 2rem 2rem;
    border-bottom: 2px dotted black;
  }
  div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  div.grid-item {
    background: #51534a;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0;
  }
  div.grid-item * {
    color: white;
  }
</style>
