---
import BaseLayout from '../layouts/LivingGraceBaseLayout.astro'
import { BlockRenderer, PageHeader, fetchPageData } from '@rkn/page-components'

const pageData = await fetchPageData('/api/pages/1', {
  populate: [
    'header.header_image',
    'blocks.image',
    'blocks.gatherings',
    'blocks.message',
    'blocks.message.feature_image',
    'blocks.message.feature_image.image',
    'blocks.message.soundcloud_recording',
    'blocks.message.providers',
    'blocks.post',
    'blocks.post.providers',
    'blocks.post.featured_image',
    'blocks.post.featured_image.image',
    'blocks.event',
  ],
})
const blocks = pageData.data.attributes.blocks
const header = pageData.data.attributes.header
---

<BaseLayout title="Styleguide">
  <div class="outer">
    <PageHeader {...header} />
    <div class="inner">
      <BlockRenderer blocks={blocks} />
    </div>
  </div>
  <style>
    div.outer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    div.inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 700px;
    }
  </style>
</BaseLayout>
