---
import { BaseLayout } from '@rkn/base-components'

const { title } = Astro.props
---

<BaseLayout title={title}>
  <body>
    <main id="main">
      <slot>
        <div class="placeholder">
          <p>
            Here is some placeholder content. It will disappear when you put
            your own content in :)
          </p>
        </div>
      </slot>
    </main>
  </body>
</BaseLayout>
<style>
  div.placeholder {
    height: 80vh;
  }
</style>
