---
import AnchorageBaseLayout from '../layouts/AnchorageBaseLayout.astro'
// import { HeroBannerShallow } from "@rkn/page-components";
import LessHeroicBanner from '../components/LessHeroicBanner.astro'
import Grid from '../components/Grid.astro'
import GridItem from '../components/GridItem.astro'
import { formatDistance, format } from 'date-fns'

const manpages = (
  await fetch(`http://127.0.0.1:1337/api/manual-pages`).then((res) =>
    res.json()
  )
).data
console.log(manpages)
const { attributes: mainpage } = manpages.shift() || {}
---

<AnchorageBaseLayout title={mainpage.title}>
  <LessHeroicBanner
    BackgroundImage="/images/whites-beach-1920x560.png"
    HeroText={mainpage.title}
    Subtitle=""
  />

  <Grid heading="---" subtitle="" class="layout-1-1-1">
    <div>&nbsp;</div>
    <div>
      <div class="man-title"><h2>Preparing Articles</h2></div>
      <div class="man-body">{mainpage.body}</div>
    </div>
    <!-- {manpages && manpages.length > 0 ? manpages.map((manpage) => <GridItem itemType="manpage" item={manpage} />) : 'No manpages found'} -->
  </Grid>
</AnchorageBaseLayout>

<style>
  @media screen and (min-width: 48em) {
    hgroup {
      margin-top: 0px;
    }

    .head-first {
      /* text-align: center; */
      font-family: Magallanes;
      text-align: end;
      margin-top: 4px;
      margin-bottom: 8px;
    }

    h1 {
      font-weight: 800;
      color: #555;
      margin: 12px 0 4px 0;
    }

    .grid.layout-1-1-1 {
      gap: 1.5vh 4.25vw;
      text-align: center;
    }

    .man-title {
      font-family: 'Magallanes';
      padding-bottom: 18px;
      color: #00629b;
    }

    .man-body {
      font-size: 1.2rem;
      font-family: 'magallanescondregular-italic';
      padding-bottom: 24px;
    }
  }
</style>
