---
import {
  GatheringsGrid,
  FeatureEvent,
  FeatureMessage,
  FeaturePost,
  TextBlock,
  TextImage,
  TextBlock,
  ProfilesGrid,
  ContactUs,
  ContactForm,
  StandardsBlock,
  QuoteBlock,
  Spaces,
  FeatureSpace,
  FeatureGathering,
  Gallery,
} from '@rkn/page-components'
const { blocks } = Astro.props
---

{
  blocks.map((componentData) => {
    if (componentData.__component == 'blocks.gatherings') {
      return (
        <section>
          <GatheringsGrid {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.feature-event') {
      return (
        <section>
          <FeatureEvent {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.feature-message') {
      return (
        <section>
          <FeatureMessage {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.feature-post') {
      return (
        <section>
          <FeaturePost {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.full-width') {
      return (
        <section>
          <TextBlock {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.two-column') {
      return (
        <section>
          <TextImage {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.rich-text') {
      return (
        <section>
          <TextBlock {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.profiles') {
      return (
        <section>
          <ProfilesGrid {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.google-maps') {
      return (
        <section>
          <ContactUs {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.contact-form') {
      return (
        <section>
          <ContactForm {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.standards-block') {
      return (
        <section>
          <StandardsBlock {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.quote') {
      return (
        <section>
          <QuoteBlock {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.feature-space') {
      return (
        <section>
          <FeatureSpace {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.feature-gathering') {
      return (
        <section>
          <FeatureGathering {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.gallery') {
      return (
        <section>
          <Gallery {...componentData} />
        </section>
      )
    } else {
      return <section>Unknown content: {componentData.__component}</section>
    }
  })
}
<style>
  section {
    width: 100%;
    height: 100%;
  }
</style>
