---
import {
  GatheringsGrid,
  FeatureEvent,
  FeatureMessage,
  FeaturePost,
  TextBlock,
  TextImage,
  TextBlock,
  ProfilesGrid,
  ContactUs,
  ContactForm,
} from '@rkn/page-components'
const { blocks } = Astro.props
---

{
  blocks.map((componentData) => {
    if (componentData.__component == 'blocks.gatherings') {
      return (
        <section>
          <GatheringsGrid {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.feature-event') {
      return (
        <section>
          <FeatureEvent {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.feature-message') {
      return (
        <section>
          <FeatureMessage {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.feature-post') {
      return (
        <section>
          <FeaturePost {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.full-width') {
      return (
        <section>
          <TextBlock {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.two-column') {
      return (
        <section>
          <TextImage {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.rich-text') {
      return (
        <section>
          <TextBlock {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.profiles') {
      return (
        <section>
          <ProfilesGrid {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.google-maps') {
      return (
        <section>
          <ContactUs {...componentData} />
        </section>
      )
    } else if (componentData.__component == 'blocks.contact-form') {
      return (
        <section>
          <ContactForm {...componentData} />
        </section>
      )
    } else {
      return <section>Unknown content: {componentData.__component}</section>
    }
  })
}
