---
const props = Astro.props
console.log(props);
---
<div class="form-container">
    <h2>{props.title}</h2>
    <form id="contact-form">
      <label for="your-name">Your Name</label>
      <input id="your-name" type="text" />
      <label for="your-email">Your Email</label>
      <input id="your-email" type="email" />
      <label for="subject">Subject</label>
      <input id="subject" type="text" />
      <label for="your-message">Your Message</label>
      <textarea id="your-message"></textarea>
      <input id="submit-form" type="submit" value="Submit Form" />
    </form>
  </div>
  <style>
div.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  @media (min-width: 916px) {
div.form-container {
      margin-left: 10rem;
    }
  }
  label {
    display: block;
    color: #51534a;
    font-weight: 500;
    font-size: 18px;
  }
  form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  input {
    font-size: 18px;
    padding: 0.5rem;
    border: solid 1px var(--gunmetal-tint);
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  textarea {
    min-height: 150px;
    border: solid 1px var(--gunmetal-tint);
  }
  [type='submit'] {
    background-color: #51534a;
    font-size: 18px;
    width: min-content;
    padding: 1rem;
    margin: 1rem 0;
    color: white;
    border-radius: 4px;
  }
</style>