---
import { markedHelper } from '../util.js'
const props = Astro.props
---

<div class="full-width">
  <h2>{props.title}</h2>
  <div class="inner">
    <div set:html={markedHelper(props.summary)} />
  </div>
</div>
<style>
  div.full-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #51534a;
    width: 100vw;
    padding: calc(20rem / 16);
  }
  :global(div.full-width *) {
    color: white;
  }
  div.inner,
  h2 {
    margin: 0 auto;
    max-width: 700px;
  }
</style>
