---
import { strapiAsset, site } from '@rkn/page-components'
const props = Astro.props?.[0] ?? Astro.props
const slug = Astro.props?.slug ?? ''
const pretitle = Astro.props?.pretitle ?? props.pretitle ?? ''
const title = props.headerTitle ?? 'Enter Heading Here'
const subtitle = Astro.props?.subtitle ?? props.subtitle ?? ''
const img = props.headerImage?.data?.attributes ?? ''
let watercolour
if (site() === 'livinggracedianella') {
  watercolour = '/uploads/living_grace_watercolour_banner_1920w_8ec3fc67b1.jpg'
} else if (site() == 'anchorage') {
  watercolour = '/uploads/anchorage_watercolour_banner_1920w_c5af4e4197.jpg'
} else if (site() == '68waverley') {
  watercolour = '/uploads/68_waverley_watercolour_banner_1920w_65352bc1af.jpg'
}
let imgUrl = strapiAsset(img?.formats?.large?.url ?? watercolour)
let headerHeight
if (slug === 'home') {
  headerHeight = '50vh'
} else if (imgUrl != strapiAsset(watercolour)) {
  headerHeight = 'max(30vh, 162px)'
} else {
  headerHeight = 'max(20vh, 140px)'
}
---

<header class="wrapper" style={`background-image: url("${imgUrl}")`}>
  <div>
    <div class="pretitle">{pretitle}</div>
    <h1>{title}</h1>
    <div class="subtitle" set:html={subtitle} />
  </div>
</header>

<style define:vars={{ headerHeight }}>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--headerHeight);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: white;
    text-shadow: 3px 3px 5px black;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  :global(div.subtitle),
  div.pretitle {
    font-size: var(--font-size-h2);
    font-family: var(--italic);
    color: white;
    text-shadow: 3px 3px 5px black;
    margin-top: 2px;
    width: 100%;
    text-align: center;
  }
  :global(div.subtitle a) {
    color: white;
  }
</style>
