---
import { strapiAsset } from '@rkn/page-components'
const props = Astro.props?.[0] ?? Astro.props
const title = props.header_title ?? 'Enter Heading Here'
const subtitle = Astro.props.subtitle ?? ''
const img = props.header_image?.data?.[0].attributes ?? ''
const imgUrl = strapiAsset(
  img?.formats?.large.url ?? '/uploads/whites_beach_2048x827_7ee97d8f2f.jpg'
)
---

<header class="wrapper" style={`background-image: url("${imgUrl}")`}>
  <div>
    <h1>{title}</h1>
    <div class="subtitle">{subtitle}</div>
  </div>
</header>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40vh;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    color: white;
    text-shadow: 3px 3px 5px black;
    margin: 0;
  }
  div.subtitle {
    font-size: var(--font-size-h2);
    font-family: var(--italic);
    color: white;
    text-shadow: 3px 3px 5px black;
    margin-top: 2px;
  }
</style>
