---
import { markedHelper } from '../util.js'
const props = Astro.props
---

<div class="container">
  <h2>{props.title}</h2>
  <div set:html={markedHelper(props.body)} />
</div>

<style>
  div.container {
    padding: 35px;
  }
  h2:first-of-type {
    margin-top: 0;
  }
</style>
