---
//formerly two-column.
import { markedHelper, contrastingText } from '../util.js'
import { strapiAsset, TwoColumn } from '@rkn/page-components'
const props = Astro.props
const img = props.image.data.attributes
const imgURL = strapiAsset(
  img.formats?.medium?.url ??
    img.formats?.small?.url ??
    img.formats.thumbnail.url
)
const { imageVerticalAlignment, imageHorizontalAlignment } = props
const backgroundColour = `var(--${
  props?.backgroundColour?.colourPicker ?? 'light'
})`
const textColour = contrastingText(props.backgroundColour)
---

<TwoColumn smallSide={props.imageSide} backgroundColor="backgroundColour}">
  <div class="item">
    <div class="outer">
      <div class="inner">
        <h2>{props.title ?? ''}</h2>
        <div
          set:html={markedHelper(
            props.text ?? 'Here is some placeholder text.'
          )}
        />
      </div>
    </div>
  </div>
  <div
    class="item image"
    slot="second"
    style={`background-image: url("${imgURL}")`}
  >
    <img src={imgURL} alt={img.alternativeText} class="sr-only" />
  </div>
</TwoColumn>

<style
  define:vars={{
    imageVerticalAlignment,
    imageHorizontalAlignment,
    textColour,
    backgroundColour,
  }}
>
  div.item {
    background: var(--backgroundColour);
    min-height: var(--two-column-min-height);
    height: 100%;
  }
  div.item * {
    color: var(--textColour);
  }
  div.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    height: 100%;
  }
  div.inner {
    height: 100%;
    max-width: 700px;
  }
  h2 {
    margin-top: 0;
    font-size: var(--font-size-h3);
  }
  div.image {
    background-position: var(--imageVerticalAlignment)
      var(--imageHorizontalAlignment);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    min-height: var(--two-column-min-height);
  }
  @media (max-width: 900px) {
    div.outer {
      padding: 40px;
    }
  }
  @media (max-width: 500px) {
    div.outer {
      padding: 35px;
    }
  }
</style>
