---
//formerly two-column
import { markedHelper } from '../util.js'
import { strapiAsset, TwoColumn } from '@rkn/page-components'
const props = Astro.props
const img = props.image.data.attributes
const imgURL = strapiAsset(
  img.formats?.medium?.url ??
    img.formats?.small?.url ??
    img.formats.thumbnail.url
)
const { imageVerticalAlignment, imageHorizontalAlignment } = props
---

<TwoColumn smallSide={props.imageSide}>
  <div class="item first">
    <div class="inner">
      <div>
        <h2>{props.title ?? ''}</h2>
        <div
          set:html={markedHelper(
            props.text ?? 'Here is some placeholder text.'
          )}
        />
      </div>
    </div>
  </div>
  <div
    class="item image"
    slot="second"
    style={`background-image: url("${imgURL}")`}
  >
    <img src={imgURL} alt={img.alternativeText} class="sr-only" />
  </div>
</TwoColumn>

<style
  define:vars={{
    imageVerticalAlignment,
    imageHorizontalAlignment,
  }}
>
  div.item {
    height: 100%;
  }
  div.first {
    background: #702082;
  }
  div.first * {
    color: white;
  }
  div.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
  }
  h2 {
    margin-top: 0;
  }
  div.image {
    background-position: var(--imageVerticalAlignment)
      var(--imageHorizontalAlignment);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100%;
    min-height: max(200px, 30vh);
  }
</style>
