---
//formerly two-column. Content comes from 'Text-Image' block in Strapi.
import { markedHelper, contrastingText, contrastingAnchor } from '../util.js'
import { strapiAsset, TwoColumn, TwoColumnImageDiv } from '@rkn/page-components'
const props = Astro.props
const { featureImage } = props
const backgroundColour = `var(--${
  props?.backgroundColour?.colourPicker ?? 'light'
})`
const textColour = contrastingText(props.backgroundColour)
const anchorColour = contrastingAnchor(props.backgroundColour)
---

<TwoColumn smallSide={props.imageSide} backgroundColor="backgroundColour}">
  <div class="item">
    <div class="outer">
      <div class="inner">
        <h2>{props.title ?? ''}</h2>
        <div
          class="TextImageContent"
          set:html={markedHelper(
            props.text ?? 'Here is some placeholder text.'
          )}
        />
      </div>
    </div>
  </div>
  <TwoColumnImageDiv {...featureImage} slot="second" />
</TwoColumn>

<style
  define:vars={{
    textColour,
    backgroundColour,
    anchorColour,
  }}
>
  div.item {
    background: var(--backgroundColour);
    min-height: var(--two-column-min-height);
    height: 100%;
  }
  div.item * {
    color: var(--textColour);
  }
  div.item a {
    color: var(--anchorColour);
  }
  div.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    height: 100%;
  }
  div.inner {
    height: 100%;
    max-width: 700px;
  }
  h2 {
    margin-top: 0;
    font-size: var(--font-size-h3);
  }
  @media (max-width: 900px) {
    div.outer {
      padding: 40px;
    }
  }
  @media (max-width: 500px) {
    div.outer {
      padding: 35px;
    }
  }
</style>
