---
//formerly 'full width'
import { markedHelper, contrastingText, contrastingAnchor } from '../util.js'
const props = Astro.props
let textColor = contrastingText(props.backgroundColour)
let anchorColour = contrastingAnchor(props.backgroundColour)
let backgroundColor = `var(--${
  props?.backgroundColour?.colourPicker ?? 'white'
})`
---

<div class="full-width">
  <h2>{props.title}</h2>
  <div class="inner">
    {props.body && <div set:html={markedHelper(props.body)} />}
    <slot />
  </div>
  <style define:vars={{ textColor, backgroundColor, anchorColour }}>
    div.full-width {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--backgroundColor);
      width: 100%;
      padding: calc(50rem / 16) 50px;
    }
    div.full-width * {
      color: var(--textColor);
    }
    div.inner,
    h2 {
      margin: 0 auto;
      max-width: 700px;
    }
    h2 {
      font-size: var(--font-size-h3);
    }
    div.full-width :global(h3) {
      font-size: var(--font-size-h4);
    }
    div.full-width :global(h4) {
      font-size: var(--font-size-h5);
      font-family: var(--italic);
    }
    div.full-width :global(a) {
      color: var(--anchorColour);
    }
  </style>
</div>
