---
import { BaseLayout } from '@rkn/base-components'
import {
  Header,
  fetchFilterPopulate,
  markedHelper,
  BlockRenderer,
  Post,
} from '@rkn/page-components'

const data = await fetchFilterPopulate('/api/pages', 'posts', [
  'header.headerImage',
  'blocks.post',
  'blocks.post.profiles',
  'blocks.post.featureImage',
  'blocks.post.featureImage.image',
])

const pageData = data.data[0].attributes
const blocks = pageData.blocks
const header = pageData.header

const { data: posts } = await fetchFilterPopulate('/api/posts', '*', [
  'featureImage',
  'featureImage.image',
  'profiles',
])
---

<BaseLayout title="Posts">
  <div class="outer">
    <Header {...header} />
    <div class="inner">
      <BlockRenderer blocks={blocks} />
      {
        posts.map((post) => {
          return <Post {post} />
        })
      }
    </div>
  </div>
</BaseLayout>
<style>
  div.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    flex-grow: 0;
    text-wrap: wrap;
    margin: 0 auto;
  }
  div.flex-row {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  section {
    max-width: 700px;
  }
  div.event-type {
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    border-bottom: 2px dotted black;
  }
  div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  div.grid-item {
    background: #51534a;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0;
  }
  div.grid-item * {
    color: white;
  }
</style>
