---
import { BaseLayout } from '@rkn/base-components'
import {
  Header,
  fetchPageData,
  markedHelper,
  BlockRenderer,
  Post,
  site,
} from '@rkn/page-components'

const data = await fetchPageData('/api/pages', {
  filters: {
    slug: {
      $eq: 'posts',
    },
    websites: {
      key: {
        $eq: site(),
      },
    },
  },
  populate: [
    'header.header_image',
    'blocks.post',
    'blocks.post.providers',
    'blocks.post.featured_image',
    'blocks.post.featured_image.image',
  ],
})

const pageData = data.data[0].attributes
const blocks = pageData.blocks
const header = pageData.header

const { data: posts } = await fetchPageData('/api/posts', {
  filters: {
    websites: {
      key: {
        $eq: site(),
      },
    },
  },
  populate: ['featured_image', 'featured_image.image', 'providers'],
})
---

<BaseLayout title="Posts">
  <div class="outer">
    <Header {...header} />
    <div class="inner">
      <BlockRenderer blocks={blocks} />
      {
        posts.map((post) => {
          return <Post {post} />
        })
      }
    </div>
  </div>
</BaseLayout>
<style>
  div.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    flex-grow: 0;
    text-wrap: wrap;
    margin: 0 auto;
  }
  div.flex-row {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  section {
    max-width: 700px;
    padding-bottom: 1rem;
  }
  div.event-type {
    width: 100vw;
    padding: 0 2rem 2rem 2rem;
    border-bottom: 2px dotted black;
  }
  div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  div.grid-item {
    background: #51534a;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0;
  }
  div.grid-item * {
    color: white;
  }
</style>
