---
import GridItem from './GridItem.astro';
import "@rkn/base-components/css/layouts.css";
import "@rkn/base-components/css/typography.css";
export interface Props {
  heading: string;
  subtitle: string;
  class: string;
};

const { heading, subtitle, class: className } = Astro.props;
---
<div>
  <hgroup>
    <h1>{heading}</h1>
    <p>{subtitle}</p>
  </hgroup>

  <div class=`grid ${className}`>
    <slot />
  </div>
</div>

<style>
h1 {
  color: #00629B;
  font-size: 2.4em;
  margin: 0;
}

hgroup {
  text-align: center;
  margin-top: 1.2em;
}

hgroup p {
  color: #999;
  font-weight: 600;
  font-size: 1.1em;
  font-style: italic;
  margin: 0.1em 0 0.2em 0;
}

</style>
