---
//Requires length (number of other cards), title, overview. cardImage and href props optional (points to gatherings by default).
import { strapiAsset, markedHelper, GridCard, site } from '@rkn/page-components'
const {
  length,
  title = 'Add title prop',
  overview = 'Add overview prop',
  href = site() == 'livinggracedianella' ? '/gatherings' : '/groups',
} = Astro.props
const cardImage =
  Astro.props?.cardImage ??
  '/uploads/small_Alpha_Lifeshared_CANADA_18_4_1905609_tomgphoto_be076bc705.jpg'
const firstItemSpan = (3 - (length % 3)) * 2
const imageUrl = `url(${strapiAsset(
  cardImage?.data?.attributes?.formats?.small?.url ?? cardImage
)})`
---

<GridCard>
  <div class="backgroundColour">
    <div class="inner first"></div>
    <div class="firstText">
      <h2><a class="click" href={href ? href : null}>{title}</a></h2>
      <div class="gatheringDetails" set:html={markedHelper(overview)} />
    </div>
  </div>
</GridCard>
<style define:vars={{ firstItemSpan, imageUrl }}>
  li.card {
    text-decoration: none;
    height: 100%;
    transition: 0.25s;
    grid-column: span var(--firstItemSpan);
  }
  a {
    color: white;
  }
  div.backgroundColour {
    background-color: var(--primary-color);
    height: 100%;
    position: relative;
    z-index: -2;
  }
  div.first {
    position: absolute;
    z-index: -1;
    background-image: var(--imageUrl);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
  }
  div.firstText {
    position: relative;
    z-index: 1;
    padding: var(--grid-card-padding);
    color: white;
  }
  h2 {
    font-size: calc(36rem / 16);
    margin-top: 0;
    line-height: 110%;
  }
  @media (max-width: 1240px) {
    li.card {
      grid-column: span min(4, var(--firstItemSpan));
    }
  }
  @media (max-width: 700px) {
    li.card {
      grid-column: span 2;
    }
  }
</style>
