---
//Takes columnSpan as a prop. As I've gone through and refactored I've given primary links the class 'click' ready for the click event.
const { columnSpan = 2 } = Astro.props
---

<li class="card">
  <slot />
</li>
<style define:vars={{ columnSpan }}>
  li.card {
    grid-column: span var(--columnSpan);
    list-style: none;
    padding: 0;
    margin: 0;
    transition: 0.25s;
  }
</style>
