---
---

<div class="gridComponent">
  <slot />
</div>
<style>
  div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px 40px;
    width: 100%;
  }
  :global(div.gridComponent > a) {
    border: 2px solid #ffffff00;
  }
  :global(div.gridComponent > a:hover, div.gridComponent > a:focus) {
    transform: scale(1.02);
    border: 2px solid var(--primaryColor);
    outline: none;
  }
  @media (max-width: 1240px) {
    div {
      grid-template-columns: repeat(4, 1fr);
      padding: 20px 30px;
    }
  }
  @media (max-width: 700px) {
    div {
      grid-template-columns: 1fr 1fr;
      padding: 20px;
    }
  }
</style>
