---
/**
 * If one of the children has a class called `click`, any clicks to this card will behave as if they are clicks on that child.
 * This is useful for making the entire card clickable
 */
const { columnSpan = 2 } = Astro.props
---

<li class="grid-card">
  <slot />
</li>
<style define:vars={{ columnSpan }}>
  li.grid-card {
    grid-column: span var(--columnSpan);
    list-style: none;
    padding: 0;
    margin: 0;
    transition: 0.25s;
    container-type: inline-size;
  }
</style>
<script>
  document.querySelectorAll('.grid-card').forEach((gridCard) => {
    gridCard.addEventListener('click', (e) => {
      // If the thing they clicked is already a link, do nothing, let their link click go through.
      if (e.target.nodeName === 'A') {
        return
      }
      gridCard.querySelector('.click')?.click()
    })
  })
</script>
