---
import { GridImageDiv, GridCard, site, excerpt } from '@rkn/page-components'
const profile = Astro.props.profile.attributes
const { name, slug, alternateDetails = [] } = profile
let trueDetails
alternateDetails.forEach((detail) => {
  let match
  detail.websites.data.forEach((website) => {
    if (website.attributes.key == site()) {
      match = true
    }
  })
  if (match) {
    trueDetails = detail
  }
})
const bio = trueDetails?.bio ?? profile.bio
const title = trueDetails?.title ?? profile?.title ?? ''
const portrait = trueDetails?.portrait?.data
  ? trueDetails.portrait
  : profile.portrait
---

<GridCard>
  <div class="inner">
    <div class="textContainer">
      <h3>
        <a class="click" href={`/profiles/${slug}`}>{name}</a>
      </h3>
      <h4 class={title.length > 40 && 'longTitle'}>
        {title && title}
      </h4>
      {(<p set:html={excerpt(bio, 100)} />)}
    </div>
    <div class="imageContainer">
      <GridImageDiv image={portrait} />
    </div>
  </div>
</GridCard>
<style>
  a {
    color: var(--primary-color);
  }
  div.inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column: span 2;
    height: 100%;
    min-height: calc(165rem / 16);
    transition: 0.25s;
  }
  div.textContainer :is(h4, p) {
    color: var(--gunmetal);
  }
  div.textContainer {
    padding: 20px;
    background: var(--light);
  }
  .imageContainerAlt {
    display: none;
  }
  h4 {
    font-family: var(--italic);
    margin-top: 0;
    hyphens: auto;
  }
  h4.longTitle {
    font-size: calc(var(--font-size-h4) - 0.125rem);
  }
  h2,
  h3 {
    margin-top: 0;
  }
  h3 {
    color: var(--primary-color);
  }
  .imageContainer {
    height: 100%;
  }
  @container (min-width: 600px) {
    div.inner {
      display: grid;
      grid-template-columns: 4fr 2fr;
    }
  }
  @container (max-width: 450px) {
    div.textContainer {
      padding: 10px;
    }
    h3 {
      font-size: var(--font-size-h4);
    }
    h4 {
      font-size: var(--font-size-h5);
    }
    h4.longTitle {
      font-size: calc(var(--font-size-h5) - 0.125rem);
    }
  }
  @container (max-width: 350px) {
    p {
      display: none;
    }
  }
  @container (max-width: 300px) {
    h3 {
      font-size: var(--font-size-h5);
    }
    h4 {
      font-size: var(--font-size-hero-p);
    }
    h4.longTitle {
      font-size: calc(var(--font-size-hero-p) - 0.0625rem);
    }
    div.textContainer {
      padding: 7px;
    }
  }
  @container (max-width: 260px) {
    h4 {
      display: none;
    }
    div.inner {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 4fr;
      border: 1px solid white;
    }
    div.textContainer {
      padding: 5px 8px;
    }
  }
</style>
