---
//just requires image prop, can send through imageUri as fallback, can else pass in maximumHeight = 'true' to limit the height of the image.
import { strapiAsset, site } from '../util.js'
const {
  image,
  verticalAlignment = 'center',
  horizontalAlignment = 'center',
  minimumHeight = 'medium',
  maximumHeight = false,
} = Astro.props
let imageUrl = `url(${strapiAsset(
  image?.data?.attributes?.formats?.medium?.url ??
    '/uploads/medium_Sermon_Image_Background_ed63796e21.png'
)})`
if (Astro.url.pathname.includes('spaces')) {
  imageUrl = `url(${strapiAsset(
    '/uploads/small_Image_from_i_OS_1_scaled_5366379b79.jpg'
  )})`
}
let minHeight = `var(--two-column-min-height-${minimumHeight})`
let maxHeight = maximumHeight ? '60vh' : 'none'
---

<div class="image"></div>
<style
  define:vars={{
    imageUrl,
    verticalAlignment,
    horizontalAlignment,
    minHeight,
    maxHeight,
  }}
>
  :root {
    --two-column-min-height-tall: max(450px, 33vh);
    --two-column-min-height-medium: max(350px, 33vh);
    --two-column-min-height-short: max(250px, 33vh);
  }
  div.image {
    background-image: var(--imageUrl);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: var(--verticalAlignment);
    background-position-x: var(--horizontalAlignment);
    width: auto;
    min-height: var(--minHeight);
    height: 100%;
    max-height: var(--maxHeight);
  }
  @media (max-width: 500px) {
    :root {
      --two-column-min-height-tall: max(400px, 33vh);
      --two-column-min-height-medium: max(300px, 33vh);
      --two-column-min-height-short: max(250px, 33vh);
    }
  }
</style>
